<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Building:</strong>
  <%= @unit.building %>
</p>

<p>
  <strong>Payer:</strong>
  <%= @unit.payer %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
